<div class="uk-container product-container">
    <div *ngIf="isLoadingProducts" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" style="min-height: 450px;">
        <div class="loader"></div>
        <div style="margin-bottom: 120px;">Loading products...</div>
    </div>
    <div *ngIf="!product" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center" style="min-height: 450px;">
        <div style="margin-bottom: 120px;">No products available. Please select another category.</div>
    </div>
    <div *ngIf="product"  class="product-details">
        <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-3@m">
            <div>
                <div class="uk-text-center">
                    <img class="detail-image" [src]="product.api_featured_image" [alt]="product.name">
                </div>
            </div>
            <div>
                <div >
                    <h2>
                        {{product.name}}
                    </h2>
                    <div class="uk-flex uk-flex-middle uk-flex-between">
                        <div class="uk-meta-text">
                            Type: {{product.product_type}}
                        </div>
                        <div class="uk-meta-text">
                            Category: {{product.category}}
                        </div>
                        <div class="uk-meta-text">
                            Brand: {{product.brand}}
                        </div>
                    </div>
                    <div *ngIf="product.rating !== null" class="rating-stars uk-margin uk-margin-remove-left uk-margin-remove-right">
                        <h6>
                            Ratings
                        </h6>
                        <div class="uk-flex uk-flex-middle" style="gap: 5px;">
                            <span *ngFor="let s of rate(product.rating!)" uk-icon="heart" style="color: red;"></span>
                        </div>
                    </div>
                    <div *ngIf="product.product_colors.length > 0" class="product-colors uk-margin uk-margin-remove-left uk-margin-remove-right">
                        <h6>
                            Colors
                        </h6>
                        <div class="uk-flex uk-flex-middle uk-flex-wrap uk-flex-wrap-around" style="gap: 8px;">
                            <div *ngFor="let c of product.product_colors">
                                <div #colorItems class="color-item" (click)="selectColor($event)">
                                    <div class="uk-border-circle uk-margin-auto" style="height: 35px; width: 35px;" [style]="{background: c.hex_value}">
                                    </div>
                                    <div class="uk-text-center uk-light" style="color: black; font-size: 10px;">
                                       {{c.colour_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="product.tag_list.length > 0" class="product-tags uk-margin uk-margin-remove-left uk-margin-remove-right">
                        <h6>
                            Tags
                        </h6>
                        <div class="uk-flex uk-flex-middle uk-flex-wrap uk-flex-wrap-around" style="gap: 5px;">
                            <div *ngFor="let t of product.tag_list">
                                <span class="uk-badge">{{t}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="priceCard">
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-text-center uk-text-bold">
                        {{product.price | currency: 'BRL'}}
                    </h2>
                    <hr>
                    <div class="uk-flex uk-flex-center uk-flex-middle">
                        <button (click)="remove()" class="uk-button uk-button-default increment-button" id="decrementBtn">-</button>
                        <input [(ngModel)]="quantity" type="text" class="uk-input uk-width-small uk-text-large uk-text-center" id="quantityInput" value="1">
                        <button (click)="add()" class="uk-button uk-button-default increment-button" id="incrementBtn">+</button>
                      </div>
                    <hr>
                    <div class="uk-text-center">
                        Partial value: {{partialValue | currency: 'BRL'}}
                    </div>
                    <hr>
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-border-rounded" style="margin-bottom: 20px;">
                        Add to cart
                    </button>
                    <button class="uk-button uk-button-secondary uk-width-1-1 uk-border-rounded" style="margin-bottom: 20px;">
                        Buy now
                    </button>
                    <div class="uk-text-center">
                        <button class="uk-button uk-button-text">
                            Add to wishlist
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="product-description">
            <h4 class="uk-heading-bullet">
                Description
            </h4>
            <div class="uk-text-default">
                {{product.description}}
            </div>
        </div>
    </div>
</div>