.detail-image {
  height: 350px;
}

.preview-image-grid-item {
  height: 80px !important;
  border: solid 2px #c3c3c3;
  object-fit: cover;
  overflow: hidden;
  height: 100%;
}

.uk-badge {
  font-size: 14px !important;
  background: darkorchid !important;
}

.product-container {
  margin: 50px 0;
}

.increment-button {
  background-color: #dcdcdc
}

.rating {
  color: orange;
  cursor: pointer;
}

.star {
  font-size: 24px;
}

.star .fa-star-o {
  color: #ccc;
}

h6 {
  margin-bottom: 5px !important;
}

.color-item {
  padding: 5px;
  cursor: pointer;
}

.selected-color {
  background-color: #ccc;
}

.details-image {
  border: solid #c3c3c3 2px;
  border-radius: 30px;
  overflow: auto;
}
