<header>
    <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-between">
        <div class="logo">
            <span>LOGO</span>
        </div>
        <nav class="uk-width-1-1" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a>
                            HOME
                        </a>
                    </li>
                    <li class="uk-parent">
                        <a>
                            PRODUCTS
                        </a>
                    </li>
                    <li>
                        <a>
                            THE COMPANY
                        </a>
                    </li>
                    <li>
                        <a>
                            SUPPORT
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="categories">
        <div class="uk-container">
            <div class="uk-flex uk-flex-middle uk-flex-between uk-padding-small">
                <div *ngFor="let t of productTypes" >
                    <a class="categories-item">{{ t.title.replace('_', ' ') }}</a>
                    <div uk-dropdown="mode: hover">
                        <ul class="uk-nav uk-dropdown-nav uk-list-divider">
                            <li *ngFor="let c of t.categories" class=" fill-effect uk-padding-small uk-padding-remove-top uk-padding-remove-bottom uk-padding-remove-right">
                                <a class="category-title" [routerLink]="['/products', 'list']" [queryParams]="{ productTypeId: t.id, producTypeTitle: t.title, productCategoryId: c.id, productCategoryTitle: c.title}">
                                    {{ c.title.replace('_', ' ') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>