<header>
    <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-between">
        <div class="logo">
            <span>LOGO</span>
        </div>
        <nav class="uk-width-1-1" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a>
                            HOME
                        </a>
                    </li>
                    <li class="uk-parent">
                        <a>
                            PRODUCTS
                        </a>
                    </li>
                    <li>
                        <a>
                            THE COMPANY
                        </a>
                    </li>
                    <li>
                        <a>
                            SUPPORT
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class=" uk-padding-large uk-padding-remove-top uk-padding-remove-bottom categories">
        <div class="uk-flex uk-flex-middle uk-flex-between uk-padding-small">
            <div *ngFor="let c of productTypes" class="categories-item">
                {{c.title.replace('_', ' ')}}
            </div>
        </div>
    </div>
</header>