<div class="uk-container uk-margin-large-top">
  <div *ngIf="isLoadingProducts" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" style="min-height: 450px;">
    <div class="loader"></div>
    <div style="margin-bottom: 120px;">Loading products...</div>
  </div>
  <div *ngIf="products && products.length === 0" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center" style="min-height: 450px;">
    <div style="margin-bottom: 120px;">No products available. Please select another category.</div>
  </div>
  <div [class.visible]="!isLoadingProducts && (products && products.length > 0)" class="uk-grid fade-in">
    <div class="uk-visible@m uk-width-1-5">
      <div class="brands">
        <h4 class="uk-heading-bullet brands-heading">brands</h4>
        <ul class="uk-list">
          <li *ngFor="let b of brands; let index = index" (click)="selectBrand(b)">
            <div class="uk-flex brand-name">
              <span>{{ b }}</span>
              <span *ngIf="selectedBrand !== ''" class="remove-filter" (click)="clearBrand()">X</span>
            </div>
          </li>
        </ul>
      </div>
      <hr>
      <div class="tags">
        <h4 class="uk-heading-bullet brands-heading">tags</h4>
        <ul class="uk-list">
          <li *ngFor="let t of tags; let index = index" (click)="selectTag(t)">
            <div class="uk-flex brand-name">
              <span>{{ t }}</span>
              <span *ngIf="selectedTag === t" class="remove-filter" (click)="clearTag()">X</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="uk-width-1-1@s uk-width-4-5@m">
      <div
          class="uk-margin-auto uk-child-width-1-2 uk-child-width-1-4@m"
          uk-grid
      >
          <div *ngFor="let p of products" class="uk-padding-small">
            <app-products-generic-card [product]="p"></app-products-generic-card>
          </div>
      </div>
    </div>
  </div>  
</div>
