.brand-name {
    cursor: pointer;
}

.brands-heading {
    cursor: pointer;
}

.active-brand {
    font-weight: bold;
}

.remove-filter {
    background-color: #858585;
    color: white;
    padding: 3px 6px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}