.limit-text {
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis;
    height: 42px;
}

.product-image {
    min-height: 225px;
}

.product-name {
    font-family: "Yanone Kaffeesatz" !important;
    font-size: 1rem;
}