.limit-text {
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis;
    height: 42px;
}

.product-image {
    height: 225px;
    background-color: #ffffff;
    overflow: hidden;
}