<div class="uk-card uk-card-default uk-height-1-1 uk-border-rounded">
    <div style="background-color: #ffffff;" class="uk-card-media-top uk-text-center uk-padding uk-flex uk-flex-middle product-image uk-padding-small">
        <img style="margin: auto" [src]="product.api_featured_image" alt="">
    </div>
    <div>
        <div class="uk-card-body uk-text-center uk-padding-small">
            <h3 class="uk-card-title uk-text-small limit-text product-name">
                {{product.name}}
            </h3>
            <div class="uk-text-bold uk-text-large uk-margin-small-bottom">
                {{product.price | currency: 'USD'}}
            </div>
            <hr>
            <div class="uk-text-center">
                <a class="uk-button uk-button-primary" [routerLink]="['/products', 'details']" [queryParams]="{ productId: product.id, producName: product.name }">
                    Details
                </a>
            </div>
        </div>
    </div>
</div>