<header class="uk-container uk-container-expand">
    <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-between">
        <div class="logo">
            <span>LOGO</span>
        </div>
        <nav class="uk-width-1-1" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a>
                            
                        </a>
                    </li>
                    <li class="uk-parent">
                        <a>

                        </a>
                    </li>
                    <li>
                        <a>

                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>