
<header class="uk-navbar-container uk-container uk-container-expand">
    <nav class="uk-container uk-container-large" uk-navbar="mode: click">
        <div class="uk-navbar-left">
            <a class="uk-navbar-item" href="#/"><span uk-icon="menu"></span></a>
            <span class="uk-navbar-item md-top-app-bar__title text-on-app-bar">MOBILE</span>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="#/"><span uk-icon="search"></span></a></li>
                <li>
                    <a href="#/" style="position:relative">
                        <span uk-icon="mail"></span>
                        <span class="uk-badge uk-badge-material">16</span>
                    </a>
                </li>
                <li>
                    <a class="uk-navbar-item" href="#/"><span uk-icon="user"></span></a>
                    <div uk-dropdown="mode: click; pos: bottom-right">
                        <ul class="uk-nav uk-navbar-dropdown-nav" >
                            <li class="ripple-surface"><a href="#"><i class="material-icons">file_copy</i>Copy</a></li>
                            <li class="ripple-surface"><a href="#"><i class="material-icons">save</i>Save</a></li>
                            <li class="uk-nav-divider"></li>
                            <li class="ripple-surface"><a href="#"><i class="material-icons">delete</i>Delete</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>    
</header>
