<footer class="uk-container">
    <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-3@m uk-padding">
        <div>
            <div class="uk-text-bold">
                Quick Links
            </div>
            <ul class="uk-list">
                <li>
                    Home
                </li>
                <li>
                    Products
                </li>
                <li>
                    Register
                </li>
            </ul>
        </div>
        <div>
            <div class="uk-text-bold">
                Quick Links
            </div>
            <ul class="uk-list">
                <li>
                    Best Offers
                </li>
                <li>
                    News
                </li>
                <li>
                    Tutorials
                </li>
            </ul>
        </div>
        <div>
            <div class="uk-text-bold">
                Follow us
            </div>
            <ul class="uk-list">
                <li>
                    <span uk-icon="facebook"></span>&nbsp;&nbsp;Facebook
                </li>
                <li>
                    <span uk-icon="instagram"></span>&nbsp;&nbsp;Instagram
                </li>
                <li>
                    <span uk-icon="linkedin"></span>&nbsp;&nbsp;Linkedin
                </li>
            </ul>
        </div>
    </div>
</footer>