@import url(https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap);

body {
    font-family: "Yanone Kaffeesatz" !important;
}

header{
    border-bottom: solid 3px darkorchid;
}

section {
    padding: 35px 0px;
}